<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBL - MISJA</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <% detections.forEach(function(detection) { %>
        <div class="detection">
            id: <%= detection.id %>
            date: <%= new Date(detection.timestamp*1000).toString() %>
            <button class="render-detection" onclick="renderVideo(<%= mission_id %>, <%= detection.id %>)">Show</button>
        </div>
    <% }); %>

    Mission recording:
    <video width="640" height="360" controls id="video-stream">
        <source id="video-source" src="/mission-stream/<%= mission_id %>" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <script>
        const video = document.getElementById("video-stream");
        const source = document.getElementById("video-source");

        function renderVideo(mission_id, detection_id){
            source.setAttribute("src", `/mission-stream/${mission_id}/${detection_id}`);
            video.load();
        }
    </script>
</body>

</html>